@use 'sass:color';
@import 'styles/variables';

/*******************************************************************************
* Profile
*******************************************************************************/
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: visible;
}

// Scrolling background fill
@keyframes backgroundAnimation {
	from { transform: translateY(-120vh); }
	to { transform: translateY(0vh); }
}

.profile-fill {
  animation: backgroundAnimation 90s linear infinite;
  animation-direction: alternate;
}

/*******************************************************************************
* Profile text
*******************************************************************************/
.profile-name,
.profile-description-line1,
.profile-description-line2 {
  transition: font-size 400ms;
}

.profile-name {
  font-size: 2.8rem;
  height: 2.8rem;
}

.profile-description-line1,
.profile-description-line2 {
  font-size: 1.4rem;
}

/*******************************************************************************
* Profile image
*******************************************************************************/
.profile-img {
  flex-shrink: 0;
  position: relative;
  height: 15rem;
  width: 15rem;
  margin-bottom: 1rem;
  transition: width 400ms, height 400ms;

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: opacity 0.4s;
  }

  .profile-img-border {
    height: 100%;
    width: 100%;
    overflow: visible;

    circle {
      height: 100%;
      width: 100%;
      // animation: profileBreathe 16s 400ms infinite alternate;
      opacity: 1;
      transform-origin: center;
      will-change: transform, opacity;

      @media(min-width: $large-screen-size) {
        filter: blur(1px);
      }
    }

    .profile-fill {
      // animation: profileBreatheInverse 16s 400ms infinite alternate,
      //            backgroundAnimation 90s linear infinite alternate;
      animation: backgroundAnimation 90s linear infinite alternate;
      // transform-origin: center;
      will-change: transform;
    }
  }

  &.pulse .profile-img-border {
    circle {
      // animation: profileBreathe 16s 400ms infinite alternate,
      //            fadeIn 800ms 800ms,
      //            profilePulse 800ms;
    }

    .profile-fill {
      // animation: profileBreatheInverse 16s 400ms infinite alternate,
      //            profilePulseInverse 800ms,
      //            backgroundAnimation 90s linear infinite alternate;
      animation: backgroundAnimation 90s linear infinite alternate;
    }
  }
}

// Profile image pulse on hover uses global class to avoid messing up initial
// content animation.
// :not(:global(.content-animating)) > .profile-img:hover .profile-img-border circle {
//   animation: profileBreathe 16s 400ms infinite alternate,
//              fadeIn 800ms 500ms,
//              profilePulse 500ms;
// }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes profilePulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(3);
  }
}

// @keyframes profilePulseInverse {
//   0% {
//     transform: scale(1);
//   }
//
//   100% {
//     transform: scale(0.33333);
//   }
// }

@keyframes profileBreathe {
  0% {
    transform: scale(1.04);
  }

  20% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(1.07);
  }

  60% {
    transform: scale(1.11);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1.09);
  }
}

// @keyframes profileBreatheInverse {
//   0% {
//     transform: scale(0.96154);
//   }
//
//   20% {
//     transform: scale(0.90909);
//   }
//
//   40% {
//     transform: scale(0.93457);
//   }
//
//   60% {
//     transform: scale(0.90090);
//   }
//
//   80% {
//     transform: scale(0.95238);
//   }
//
//   100% {
//     transform: scale(0.91743);
//   }
// }

/*******************************************************************************
* Loading effects
*******************************************************************************/
.profile-img.loading img {
  opacity: 0 !important;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loaded-from-cache .loading-indicator {
  display: none !important;
}

// Spinner credit: https://tobiasahlin.com/spinkit/
.loading-spinner {
  width: 33%;
  height: 33%;
  position: relative;
  text-align: center;
  animation: sk-rotate 2.5s infinite linear;
}

.loading-dot1, .loading-dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: $profile-border-color;
  border-radius: 100%;
  filter: blur(1px);
  animation: sk-bounce 2.5s infinite ease-in-out;
}

.loading-dot2 {
  top: auto;
  bottom: 0;
  animation-delay: -1.25s;
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
  } 50% {
    transform: scale(1);
  }
}

/*******************************************************************************
* Button hover effects
*******************************************************************************/
.profile-img {
  img {
    position: absolute;
    top: 0;
    left: 0;
    transition: filter 400ms;
  }

  .profile-img-github,
  .profile-img-resume {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    opacity: 0;
    border-radius: 50%;
    font-family: 'Sacramento', cursive;
    font-weight: 700;
    font-size: 2.2rem;

    p {
      margin: 0.2rem 0;
      color: rgba(color.mix($profile-border-color, $text-color, 20%), 0.7);
      z-index: 2;
      text-shadow:
       -1px -1px 0 rgba($background-color, 0.7),
        1px -1px 0 rgba($background-color, 0.7),
        -1px 1px 0 rgba($background-color, 0.7),
         1px 1px 0 rgba($background-color, 0.7);
    }

    .overlay-knockout-text {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      text {
        font-size: 4rem;
        text-transform: uppercase;
        text-shadow: none;
      }
    }
  }

  &.hover-github,
  &.hover-resume {
    img {
      // blur image when overlay is present, blurred edges are more cohesive
      filter: blur(1px);
    }
  }

  &.hover-github {
    .profile-img-github {
      opacity: 1;
    }
  }

  &.hover-resume {
    .profile-img-resume {
      opacity: 1;
    }
  }
}

/*******************************************************************************
* Mobile screen styles (< 800px)
*******************************************************************************/
// Freeze content size below $content-min-width for sane minimum resizing.
// Start scaling text by screen size at $content-min-width and above.
@media(min-width: $content-min-width) {
  .profile-name {
    font-size: 15vw;
    height: 15vw;
  }

  .profile-description-line1,
  .profile-description-line2 {
    font-size: 1.7rem;
  }

  .profile-img {
    width: 80vw;
    height: 80vw;
    max-width: 50vh;
    max-height: 50vh;
  }
}

// 500px: freeze text size in preparation for main container size decrease.
// Increase size of profile image.
@media(min-width: 500px) {
  .profile-name {
    font-size: 4.6rem;
    height: 4.6rem;
  }

  .profile-description-line1,
  .profile-description-line2 {
    font-size: 1.9rem;
  }
}

/*******************************************************************************
* Non-mobile screen styles (> 800px)
*******************************************************************************/
@media(min-width: $large-screen-size) {
  .profile {
    position: fixed;
    width: 100%;
    top: 58vh;
  }

  .profile-name {
    font-size: 12vh;
    height: 12vh;
  }

  .profile-description-line1,
  .profile-description-line2 {
    font-size: 5vh;
  }

  .profile-img {
    position: fixed;
    height: 50vh;
    width: 50vh;
    top: 7vh;

    .profile-img-github,
    .profile-img-resume {
      font-size: 5vh;

      .knockout-text text {
        font-size: 10vh;
      }
    }
  }
}

@media (min-width: $large-screen-size) and (max-aspect-ratio: "3/2") {
  .profile-name {
    font-size: 7.5vw;
    height: 7.5vw;
  }

  .profile-description-line1,
  .profile-description-line2 {
    font-size: 3.3vw;
  }

  .profile-img {
    height: 47.21435316vw;
    width: 47.21435316vw;
    top: unset;
    bottom: 42vh;
  }
}

// Maximum description size
// @media(min-width: 1160px) {
//   .profile-description-line1,
//   .profile-description-line2 {
//     font-size: 2.8rem;
//   }
// }

// Maximum name size
// @media(min-width: 1400px) {
//   .profile-name {
//     font-size: 6.1rem;
//   }
// }

// Maximum overlay text size
@media(min-height: 1080px) {
  .profile-img {
    .profile-img-github,
    .profile-img-resume {
      font-size: 3.4rem;
    }
  }
}
