@use 'sass:color';
@import 'styles/variables';

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.profile-name,
.profile-description-line1,
.profile-description-line2 {
  transition: font-size 200ms;
}

.profile-name {
  font-size: 1.9rem;
  margin: 0 0 0.6rem 0;
  text-align: center;
}

.profile-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-description-line1,
.profile-description-line2 {
  font-size: 1.1rem;
  transition: margin 400ms;
}

.profile-description-line1 {
  margin: 0 0 0 -4rem;
}

.profile-description-line2 {
  margin: 0 -1.5rem 1.5rem 0;
}

.profile-img {
  flex-shrink: 0;
  position: relative;
  height: 15rem;
  width: 15rem;
  margin-bottom: 1.5rem;
  transition: width 400ms, height 400ms, margin 400ms;

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.4s;
  }

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: -4px;
    left: -4px;
    border-radius: 50%;
    border: 4px solid $profile-border-color;
    animation: profileBreathe 16s 400ms infinite alternate;
    will-change: transform, opacity;

    @media(min-width: $large-screen-size) {
      filter: blur(1px);
    }
  }

  &.pulse:after {
    animation: profileBreathe 16s 400ms infinite alternate,
               fadeIn 800ms 800ms,
               profilePulse 800ms;
  }
}

// Profile image pulse on hover uses global class to avoid messing up initial
// content animation.
:not(:global(.content-animating)) > .profile-img:hover:after {
  animation: profileBreathe 16s 400ms infinite alternate,
             fadeIn 800ms 500ms,
             profilePulse 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes profilePulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(3);
  }
}

@keyframes profileBreathe {
  0% {
    transform: scale(1.04);
  }

  20% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(1.07);
  }

  60% {
    transform: scale(1.11);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1.09);
  }
}

// Loading effects
.profile-img.loading img {
  opacity: 0 !important;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loaded-from-cache .loading-indicator {
  display: none !important;
}

// Spinner credit: https://tobiasahlin.com/spinkit/
.loading-spinner {
  width: 33%;
  height: 33%;
  position: relative;
  text-align: center;
  animation: sk-rotate 2.5s infinite linear;
}

.loading-dot1, .loading-dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: $profile-border-color;
  border-radius: 100%;
  filter: blur(1px);
  animation: sk-bounce 2.5s infinite ease-in-out;
}

.loading-dot2 {
  top: auto;
  bottom: 0;
  animation-delay: -1.25s;
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
  } 50% {
    transform: scale(1);
  }
}

// Button hover effects
.profile-img {
  img {
    position: absolute;
    top: 0;
    left: 0;
    transition: filter 400ms;
  }

  .profile-img-github,
  .profile-img-resume {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    opacity: 0;
    border-radius: 50%;
    font-family: 'Sacramento', cursive;
    font-weight: 700;
    font-size: 2.2rem;

    p {
      margin: 0.2rem 0;
      color: rgba(color.mix($profile-border-color, $text-color, 20%), 0.7);
      z-index: 2;
      text-shadow:
       -1px -1px 0 rgba($background-color, 0.7),
        1px -1px 0 rgba($background-color, 0.7),
        -1px 1px 0 rgba($background-color, 0.7),
         1px 1px 0 rgba($background-color, 0.7);
    }

    .knockout-text {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      text {
        font-size: 4rem;
        text-transform: uppercase;
      }
    }
  }

  &.hover-github,
  &.hover-resume {
    img {
      // blur image when overlay is present, blurred edges are more cohesive
      filter: blur(1px);
    }
  }

  &.hover-github {
    .profile-img-github {
      opacity: 1;
    }
  }

  &.hover-resume {
    .profile-img-resume {
      opacity: 1;
    }
  }
}

// Start scaling text by screen size as soon as possible.
// Freeze min content size at $content-min-width for sane minimum resizing.
@media(min-width: $content-min-width) {
  .profile-name {
    font-size: 10vw;
  }

  .profile-description-line1,
  .profile-description-line2 {
    font-size: 6vw;
  }

  .profile-description-line1 {
    margin-left: -24vw;
  }

  .profile-description-line2 {
    margin-right: -6vw;
  }
}

// 500px -- found by experiment -- freeze text size in preparation for main
// container size decrease.
@media(min-width: 500px) {
  .profile-name {
    font-size: 3.2rem;
  }

  .profile-description-line1,
  .profile-description-line2 {
    font-size: 1.9rem;
  }

  .profile-description-line1 {
    margin-left: -4em;
  }

  .profile-description-line2 {
    margin-right: -1.5em;
  }
}

// Large screens
@media(min-width: $large-screen-size) {
  .profile-name {
    font-size: 7vw;
  }

  .profile-description-line1,
  .profile-description-line2 {
    font-size: 3.8vw;
  }

  .profile-description-line2 {
    margin-bottom: 4vh;
  }

  .profile-img {
    height: 40vh;
    width: 40vh;
    min-height: 15rem;
    min-width: 15rem;
    margin: 3vh 0 4vh 0;

    .profile-img-github,
    .profile-img-resume {
      font-size: 5vh;

      .knockout-text text {
        font-size: 10vh;
      }
    }
  }
}

// Maximum description size
@media(min-width: 1160px) {
  .profile-description-line1,
  .profile-description-line2 {
    font-size: 2.8rem;
  }
}

// Maximum name size
@media(min-width: 1400px) {
  .profile-name {
    font-size: 6.1rem;
  }
}

// Maximum overlay text size
@media(min-height: 1080px) {
  .profile-img {
    .profile-img-github,
    .profile-img-resume {
      font-size: 3.4rem;
    }
  }
}
