@use 'sass:color';
@import 'styles/variables';

/*******************************************************************************
* Profile
*******************************************************************************/
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: visible;
}

.profile-fill-svg {
  width: 100%;
  height: 0;
}

/*******************************************************************************
* Profile text
*******************************************************************************/
.profile-name-svg,
.profile-description-line1-svg,
.profile-description-line2-svg,
.profile-buttons-svg {
    overflow: visible;
}

.profile-name,
.profile-description-line1,
.profile-description-line2 {
  transition: font-size 400ms;
}

.profile-name {
  font-size: 2.8rem;
  height: 2.8rem;
}

.profile-description-line1,
.profile-description-line2 {
  font-size: 1.4rem;
}

/*******************************************************************************
* Profile image
*******************************************************************************/
.profile-img {
  flex-shrink: 0;
  position: relative;
  height: 15rem;
  width: 15rem;
  min-height: 15rem;
  min-width: 15rem;
  margin-bottom: 1rem;
  transition: width 400ms, height 400ms;

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: opacity 0.4s;
  }

  .profile-img-border {
    height: 100%;
    width: 100%;
    overflow: visible;

    circle {
      height: 100%;
      width: 100%;
      overflow: visible;
      transform-origin: center;
      will-change: transform, opacity;
    }
  }
}

/*******************************************************************************
* Profile buttons
*******************************************************************************/

.profile-button {
  font-size: 80%;
  text-transform: uppercase;
}

/*******************************************************************************
* Loading effects
*******************************************************************************/
.profile-img.loading img {
  opacity: 0 !important;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loaded-from-cache .loading-indicator {
  display: none !important;
}

// Spinner credit: https://tobiasahlin.com/spinkit/
.loading-spinner {
  width: 33%;
  height: 33%;
  position: relative;
  text-align: center;
  animation: sk-rotate 2.5s infinite linear;
}

.loading-dot1, .loading-dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: $loading-dot-color;
  border-radius: 100%;
  filter: blur(1px);
  animation: sk-bounce 2.5s infinite ease-in-out;
}

.loading-dot2 {
  top: auto;
  bottom: 0;
  animation-delay: -1.25s;
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
  } 50% {
    transform: scale(1);
  }
}

/*******************************************************************************
* Button hover effects
*******************************************************************************/
.profile-img {
  img {
    position: absolute;
    top: 0;
    left: 0;
    transition: filter 400ms;
  }

  .profile-img-github,
  .profile-img-resume {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    opacity: 0;
    border-radius: 50%;
    font-family: 'Sacramento', cursive;
    font-size: 2.2rem;
    user-select: none;

    p {
      margin: 0.2rem 0;
      color: $profile-overlay-text-color;
      z-index: 2;
      text-shadow:
       -1px -1px 0 $profile-overlay-text-outline-color,
        1px -1px 0 $profile-overlay-text-outline-color,
        -1px 1px 0 $profile-overlay-text-outline-color,
         1px 1px 0 $profile-overlay-text-outline-color;
    }

    .overlay-knockout-text {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      text {
        font-size: 4rem;
        text-transform: uppercase;
        text-shadow: none;
      }
    }
  }

  &.hover-github {
    .profile-img-github {
      opacity: 1;
    }
  }

  &.hover-resume {
    .profile-img-resume {
      opacity: 1;
    }
  }
}

/*******************************************************************************
* Mobile screen styles (< 800px)
*******************************************************************************/
// Freeze content size below $content-min-width for sane minimum resizing.
// Start scaling text by screen size at $content-min-width and above.
@media(min-width: $content-min-width) {
  .profile-name {
    font-size: 15vw;
    height: 15vw;
  }

  .profile-description-line1,
  .profile-description-line2 {
    font-size: 1.7rem;
  }

  .profile-img {
    width: 80vw;
    height: 80vw;
    max-width: 50vh;
    max-height: 50vh;
  }
}

// 500px: freeze text size in preparation for main container size decrease.
// Increase size of profile image.
@media(min-width: 500px) {
  .profile-name {
    font-size: 4.6rem;
    height: 4.6rem;
  }

  .profile-description-line1,
  .profile-description-line2 {
    font-size: 1.9rem;
  }
}

/*******************************************************************************
* Non-mobile screen styles (> 800px)
*******************************************************************************/
@media(min-width: $large-screen-size) {
  .profile {
    position: fixed;
    width: 100%;
    top: 58vh;
    // disable pointer events from profile container to avoid blocking
    // background scroll. re-enable on text and buttons.
    pointer-events: none;
  }

  .profile-name {
    font-size: 12vh;
    height: 12vh;
    pointer-events: all;
  }

  .profile-description-line1,
  .profile-description-line2 {
    font-size: 5vh;
    pointer-events: all;
  }

  .profile-buttons-svg {
    pointer-events: all;
  }

  .profile-img {
    position: fixed;
    height: 50vh;
    width: 50vh;
    top: 7vh;

    .profile-img-github,
    .profile-img-resume {
      font-size: 5vh;

      .knockout-text text {
        font-size: 10vh;
      }
    }
  }
}

@media (min-width: $large-screen-size) and (max-aspect-ratio: "3/2") {
  .profile-name {
    font-size: 7.5vw;
    height: 7.5vw;
  }

  .profile-description-line1,
  .profile-description-line2 {
    font-size: 3.3vw;
  }

  .profile-img {
    height: 47.21435316vw;
    width: 47.21435316vw;
    top: unset;
    bottom: 42vh;
  }
}

// Maximum overlay text size
@media(min-height: 1080px) {
  .profile-img {
    .profile-img-github,
    .profile-img-resume {
      font-size: 3.4rem;
    }
  }
}
