extends ../node_modules/rachael-io-common/views/layout

block head
    link(rel="stylesheet", type="text/css", href="css/style.min.css")

block content
    h1 Hi Align Commerce!
    p You guys are cool.
    a.button(href="https://rachael.io") Back
