extends layout

block content
    h3
        strong WARNING:&nbsp;
        | Do not attempt to hang from towel, or insert your head into the towel loop. Failure to follow these simple instructions can result in injury or death.
    a.button(href="https://github.com/rachael") @rachael on github
    a.button(href="/") rachael.io
