extends ../node_modules/rachael-io-common/views/layout

block head
    link(rel="stylesheet", type="text/css", href="css/style.min.css")

block content
    h1 Rachael Passov
    p Web Application Developer / Designer.
    a.button(href="/resume") Resume
