// Layout
$background-color: #141516;
$container-background-color: #fff;
$text-color: #4d8ca0;

// Global
$button-border-color: #abcad6;
$button-hover-color: #fff;
$button-hover-background: $text-color;

// Profile
$profile-border-color: #abcad6;
