// Layout
$content-min-width: 300px;
$large-screen-size: 800px;
$background-color: #fff;
$text-color: #4d8ca0;

// Dots
$dot-colors: (
  1: #0C2A44,
  2: #3B5A71,
  3: #CAF6FE,
  4: #FF4A4E,
  5: #F69C8A,
  6: #F8AE56,
  7: #FFCD5A,
  8: #B8C881
);

// Global
$button-border-color: #abcad6;
$button-hover-color: #fff;
$button-hover-background: $text-color;

// Profile
$profile-border-color: #afc2ca;
