@import 'styles/variables';

.dots {
  height: 100vh;
}

.dot {
  position: absolute;
  top: 0;
  border-radius: 50%;
  filter: blur(1px);
  backdrop-filter: blur(1px);
}

@each $i, $value in $dot-colors {
  .dot-color-#{$i} {
    background: rgba($value, 0.3);
  }
}

@for $i from 6 through 12 {
  .dot-width-#{$i - 5} {
    width: #{$i}rem;
    height: #{$i}rem;

    &.dot-left {
      left: calc(17.5% - #{$i/2}rem);
    }

    &.dot-right {
      right: calc(17.5% - #{$i/2}rem);
    }
  }
}
