@import 'styles/variables';

/*******************************************************************************
* Mobile screen styles (< 800px)
*******************************************************************************/
.layout {
  min-height: 100vh;
  opacity: 0;
  transition: opacity 400ms;
}

.layout-appear-done {
  opacity: 1;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Background image: positioned slightly larger than screen to avoid blur
// vignette effect.
// Do not load background image on small devices.
@keyframes backgroundAnimation {
	from { transform: translateY(-150vh); }
	to { transform: translateY(0); }
}

.background-image {
  position: absolute;
  height: 252vh;
  width: 102vw;
  top: -1vh;
  left: -1vw;
  z-index: 1;
  opacity: 0;
  transition: opacity 400ms;
  will-change: transform;
  animation: backgroundAnimation 260s linear infinite;
  animation-play-state: paused;
}

.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-color;
  background-color: $background-color;
  overflow-y: auto;
  z-index: 2;
  box-shadow: 0 0 7px 10px rgba($background-color, 0.9);
  transition: background-color 400ms;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 400ms;
}

.content-appear-done {
  opacity: 1;
}

// Do not display footer on mobile
.footer {
  height: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70%;
  opacity: 0;
  transition: height 400ms, opacity 400ms;
  overflow: hidden;

  a {
    margin: 0 1em;
  }
}

/*******************************************************************************
* Non-mobile screen styles (> 800px)
*******************************************************************************/
// background-image 100px opacity transition buffer
@media (min-width: 700px) {
  .background-image {
    background: url('/profile_bg.png');
    background-size: cover;
    filter: blur(8px);
  }

  // Container width for large screens.
  // Set during buffer to prevent width jump during background fade.
  .main {
    width: 65%;
  }
}

// > 800px background and container styles
@media (min-width: 800px) {
  .background-image {
    opacity: 1;

    &.background-scroll {
      animation-play-state: running;
    }
  }

  .main {
    background-color: rgba($background-color, 0.9);
  }

  .footer {
    height: 2em;
    opacity: 1;
  }
}
