@import 'styles/variables';

/*******************************************************************************
* Mobile screen styles (< 800px)
*******************************************************************************/
.layout {
  min-height: 100vh;
  opacity: 0;
  transition: opacity 400ms;
}

.layout-appear-done {
  opacity: 1;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Scrolling background image
// Do not load background image or play animation on small devices
@keyframes backgroundAnimation {
	from { transform: translateY(-120vh); }
	to { transform: translateY(0); }
}

.background-image {
  position: absolute;
  height: 300vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 400ms;
  animation: backgroundAnimation 200s linear infinite;
  animation-play-state: paused;
  animation-direction: alternate;
}

// Main container and content
.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-color;
  background-color: $background-color;
  overflow-y: auto;
  z-index: 2;
  box-shadow: 0 0 7px 10px rgba($background-color, 0.9);
  transition: background-color 400ms;
}

@keyframes bgpulse {
  0% {
    transform: scaleY(0.9);
  }

  20% {
    transform: scaleY(0.95);
  }

  40% {
    transform: scaleY(0.8);
  }

  60% {
    transform: scaleY(0.9);
  }

  80% {
    transform: scaleY(0.85);
  }

  100% {
    transform: scaleY(1);
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 400ms;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100vw;
    height: calc(50vh - 15rem);
    background: $text-color;
    animation: bgpulse 20s ease-out infinite;
    animation-direction: alternate;
    transition: opacity 400ms, height 400ms;
  }

  &:before {
    top: 0;
    transform-origin: top;
  }

  &:after {
    bottom: 0;
    transform-origin: bottom;
    animation-delay: -1s;
  }
}

.content-appear-done {
  opacity: 1;
}

// Footer
// Do not display footer on mobile
.footer {
  height: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70%;
  opacity: 0;
  transition: height 400ms, opacity 400ms;
  overflow: hidden;

  a {
    margin: 0 1em;
  }
}

/*******************************************************************************
* Non-mobile screen styles (> 800px)
*******************************************************************************/
// background-image 100px opacity transition buffer
@media (min-width: 700px) {
  .background-image {
    background: url('/bg_postits_blur.png');
    background-size: cover;
  }

  // Container width for large screens.
  // Set during buffer to prevent width jump during background fade.
  .main {
    width: 65%;
  }
}

// > 800px background and container styles
@media (min-width: 800px) {
  .background-image {
    opacity: 1;

    &.background-scroll {
      animation-play-state: running;
    }
  }

  .main {
    background-color: rgba($background-color, 0.9);
  }

  .content:before,
  .content:after {
    opacity: 0;
    height: 0;
    animation-play-state: paused;
  }

  .footer {
    height: 2em;
    opacity: 1;
  }
}
